
:root {
    --color-primary-dark: #31261A;
    --color-primary-white: #FAF4EA;
    --color-brand: #819B57;
}

body {
    color: var(--color-primary-dark);
}

ul{
    list-style-type: none;
}
.button {
    color: var(--color-primary-white);
    border: 2px solid var(--color-brand);    
    background-color: var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
} 

.button:hover {
    color: #465929;
    background-color: transparent;
}

.link {
    color: var(--color-primary-white);
}

.link:hover {
    color: var(--color-brand);
}

.hero-title .accsent {
    color: var(--color-brand);
}

.advantages-list {
    color:var(--color-primary-white) ;
    background-color: var(--color-brand) ;
}

.section-title {
    color: var(--color-primary-dark);
} 

