@font-face {
    font-display: swap;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v24-latin-200.woff2') format('woff2');    
}


@font-face {
    font-display: swap;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');    
}


@font-face {
    font-display: swap;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');    
}

@font-face {
    font-display: swap;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');   
}

:root {
    --color-primary-dark: #31261A;
    --color-primary-white: #FAF4EA;
    --color-brand: #819B57;
}

body { 
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
  
}

ul{
    list-style-type: none;
}
.button {
    color: var(--color-primary-white);
    font-weight: 600;
    border: 2px solid var(--color-brand);    
    background-color: var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
} 

.button:hover {
    color: #465929;
    background-color: transparent;
}

.link {
    color: var(--color-primary-white);
    
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

.hero-title {
    color: var(--color-primary-white);
    text-align: center;
    font-size: 128px;  
}

.hero-title .accsent {
    color: var(--color-brand);
    font-family: 'Poppins', sans-serif; 
    font-size: 900;
}

.advantages-list {
    color:var(--color-primary-white) ;
    background-color: var(--color-brand) ;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;    
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
} 

.text-traditions .brand {    
    color: var(--color-brand);
}

.text-traditions .uppercase {
    text-transform: uppercase;
    color: var(--color-brand);
    font-weight: 600;
}

.link {
    text-decoration: none;
}

.chef-title {
    font-size: 40px;
    font-weight: 600;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.text-format {
    font-size: 14px;
    font-weight: 300;
}

.address-link {
    color: var(--color-primary-white);
    font-size:16px ;
    font-weight:300 ;
    text-decoration: none;
}
.address-link:hover {
    color: var(--color-brand);
}

.address-copyright {
    font-size: 14px;   
}


    



