.address-link {
    color: var(--color-primary-white);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand);
}

.address-copyright {
    font-size: 14px;
    color: #a18268;
}

.footer {
    position: relative;
    background-image: url(../image/footer_backgraund.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.addres-icon {
    fill: var(--color-primary-white);
}

.addres-icon:hover {
    fill: var(--color-brand);
    stroke: #31261a;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../image/decor-bread-one.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../image/decor-bread-two.png);
}