.title-formats {
  margin-bottom: 20px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 80px;
  }
}

.format-list {
  position: relative;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 22.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark)
  );
  border-radius: 16px;
  transition:
    transform 0.6s,
    background-image 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 444px;
}

.format-image {
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formats-slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.swiper-container {
  overflow: hidden;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-white);
}

.text-format {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-white);
}
.margin {
  margin-bottom: 32px;
}

/* Carusel-format */

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carusel-button.right {
  transform: rotate(180deg);
}

.carusel-button:hover {
  background-color: var(--color-primary-dark);
}

.carusel-button:hover .arrow-format {
  fill: var(--color-primary-white);
}

.arrow-format {
  fill: var(--color-primary-dark);
}

.button-mob {
  display: none;
  @media screen and (min-width: $bp-mobile) {
    display: flex;
  }
}
